@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	ul,
	ol {
		list-style: revert;
		list-style-position: revert;
	}
}

.titlebar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.editor-height {
	height: calc(100vh - 116px) !important;
}

/* Additional Codemirror styling */
.cm-activeLine,
.cm-activeLineGutter {
	background: none !important;
}

.cm-focused {
	outline: none !important;
}

.splitpanes.default-theme .splitpanes__pane {
	background-color: white !important;
}

.editor-container {
	overflow: auto !important;
	height: calc(100vh - 116px) !important;
}

/* Height for Template Modal */
.screen-minus {
	height: 85vh;
}

/** {*/
/*	scrollbar-width: auto;*/
/*	scrollbar-color: #7675f2 #eeeeee;*/
/*}*/

/* Works on Chrome, Edge, and Safari */
/**::-webkit-scrollbar {*/
/*	width: 16px;*/
/*}*/

/**::-webkit-scrollbar-track {*/
/*	background: #eeeeee;*/
/*}*/

/**::-webkit-scrollbar-thumb {*/
/*	background-color: #7675f2;*/
/*	border-radius: 0px;*/
/*	border: 3px solid #eeeeee;*/
/*}*/
